.cls-1 {
  fill: #0f6fec;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #fff;
}
/* //Search */
.search-container {
  position: relative;
  width: 300px;
  margin: auto;
  width: 600px;
height: 50px;
margin-left:3px;
}

#search-bar {
  border: 2px solid #ddd;
  padding: 10px 30px 10px 10px; 
  width: 100%;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box; 
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #aaa;
  font-size: 16px;
}

#search-bar {
  padding-left: 30px; 
  padding-right: 10px;

}
#upda
{
margin: 4px;
margin-right: 10px;
margin-left:150px;
}
#contin{

  margin-left: 300px;
}
#avg{

  width: 37px;
  height: 37px;
  margin-bottom: 14px;
  margin-top: 3px;
  margin: 4px;
}
.btn-outline-dark{

  background-color: rgb(230, 230, 230);
  }
  .d-flex
  {
  margin-left:10px;
  
  }
  
  
  button
  {
    margin: 4px;
  
  }
  
  
  .btn
  {
    border: 2px solid #f2f2f2;
  width: 40px;
  height: 40px;
  
  }
  